.helpdesk {
	margin-top:1rem;
	h1 {
		text-align: center;
		margin-bottom: 2rem;
		@include breakpoint(small) {
			font-size: 1.4rem;
		}
		@include breakpoint(large up) {
			font-size: 2rem;
		}
	}
	h5 {
		margin-bottom:0;
		cursor: pointer;
		@include breakpoint(small) {
			font-size: 1rem;
		}
		@include breakpoint(large up) {
			font-size: 1.1rem;
		}
		&:after {
			display: block;
			float: right;
			@extend .mi-cb;
			content: '\e5cf';
			color:$primary-color;
		}
		&:hover {
			color:$primary-color;
		}
	}
	.question-wrap {
		border-bottom:1px solid $medium-gray;
		padding:.5rem 0;
		&:last-of-type {
			border-bottom:0;
		}
		&.active {
			h5 {
				&:after {
					content: '\e5ce'
				}
			}
		}
	}
	.answer {
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	h4 {
		text-align: center;
		margin-top:2rem;
		~ p {
			text-align: center;
		}
	}
}

.navbox {
	position: fixed;
	ul {
		list-style: none;
		margin:0;
		li {
			margin:0;
			a {
				color:$primary-color;
				border-left:2px solid $blackest;
				display: block;
				padding:.2rem 1rem;
				transition: border .2s ease;
				&:hover {
					color:darken($primary-color, 5%);
				}
				&:active {
					color:darken($primary-color, 10%);
				}
				&.active {
					border-left:2px solid $white;
				}
			}
		}
	}
}

#help-bar {
	position:fixed;
	bottom:0;
	right:0;
	z-index: 1;
	.bar {
		display: inline-block;
		font-size: .8rem;
		color:$white;
		border-radius:$global-radius $global-radius 0 0;
		padding:.2rem 1rem .4rem 1rem;
		transition:all .2s ease;
		margin-bottom: -.2rem;
		cursor: pointer;
		margin-right:.5rem;
		opacity: .9;
		&:hover {
			transform: translateY(-.2rem);
			opacity: 1;
		}
		a {
			color:$white;
		}
	}
	#feedback {
		background: $secondary-color;
	}
	#support {
		background: $primary-color;
	}
}

.modal-container.form {
	.form-wrapper {
		position: relative;
		@extend .clearfix;
	}
	.actions {
		.button {
			
		}
	}
}

.modal-form {
	input[type="submit"] {

	}
	input.error, textarea.error {
		border:1px solid $alert-color;
	}
}