.helpdesk {
	margin-top:1rem;
	h1 {
		text-align: center;
		margin-bottom: 2rem;
		@include breakpoint(small) {
			font-size: 1.4rem;
		}
		@include breakpoint(large up) {
			font-size: 2rem;
		}
	}
	h5 {
		margin-bottom:0;
		cursor: pointer;
		@include breakpoint(small) {
			font-size: 1rem;
		}
		@include breakpoint(large up) {
			font-size: 1.1rem;
		}
		&:after {
			display: block;
			float: right;
			@extend .mi-cb;
			content: '\e5cf';
			color:$primary-color;
		}
		&:hover {
			color:$primary-color;
		}
	}
	.question-wrap {
		border-bottom:1px solid $medium-gray;
		padding:.5rem 0;
		&:last-of-type {
			border-bottom:0;
		}
		&.active {
			h5 {
				&:after {
					content: '\e5ce'
				}
			}
		}
	}
	.answer {
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.navbox {
	position: fixed;
	ul {
		list-style: none;
		margin:0;
		li {
			margin:0;
			a {
				color:$primary-color;
				border-left:2px solid $blackest;
				display: block;
				padding:.2rem 1rem;
				transition: border .2s ease;
				&:hover {
					color:darken($primary-color, 5%);
				}
				&:active {
					color:darken($primary-color, 10%);
				}
				&.active {
					border-left:2px solid $white;
				}
			}
		}
	}
}