/* CSS Dev Tools Visualizza tutti i bordi * { border: 1px dashed #0000FF; } */
#orgWrapper {
  h6 {
    display: inline-block;
    position: relative;
  }
  h2.title-page {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
}
