
include ./head.jade
                    tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;color:#706f70;")
                      td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; color:#706f70;", valign='top')
                        | Your Activity export is done!
                    tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                      td.content-block(itemprop='handler', itemscope='', itemtype='http://schema.org/HttpActionHandler', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; text-align: center;", valign='top')
                        a.btn-primary(href='#{datasetUrl}', itemprop='url', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background-color: #3A99D8; margin: 0; border-color: #3A99D8; border-style: solid; border-width: 10px 20px;") Go to your dataset page
                    tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;color:#706f70;")
                      td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;color:#706f70;", valign='top')
                        | Should you have any questions or feedback, please feel free to contact us on 
                        a(href='mailto:info@iatistudio.com', style='text-decoration: none; color: #3A99D8') enquiry@iatistudio.com
                    tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;color:#706f70;")
                      td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;color:#706f70;", valign='top')
                        | — The IATI Studio team
            include ./foot.jade
